@using CourceWork.Areas.Data
@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a id="manage" class="nav-link text-dark" asp-controller="MedicineCard" asp-action="Index">Medicine Card</a>
    </li>
    <li class="nav-item">
        <a id="manage" class="nav-link text-dark" asp-controller="AppRoles" asp-action="Index">Roles</a>
    </li>
    <li class="nav-item">
         <a id="manage" class="nav-link text-dark" asp-controller="Vet" asp-action="Index">Vet</a>
    </li>
    <li class="nav-item">
        <a id="manage" class="nav-link text-dark" asp-controller="Service" asp-action="Index">Service</a>
    </li>
        <li class="nav-item">
            <a id="manage" class="nav-link text-dark" asp-controller="Owner" asp-action="Index">Owner</a>
        </li>
        <li class="nav-item">
            <a id="manage" class="nav-link text-dark" asp-controller="Species" asp-action="Index">Species</a>
        </li>
    <li class="nav-item">
        <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
    </li>
    <li class="nav-item">
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button id="logout" type="submit" class="nav-link btn btn-link text-dark border-0">Logout</button>
        </form>
    </li>
}
</ul>
