@model CourceWork.Models.VetViewModel

<h2>Create New Vet</h2>

<form asp-controller="Vet" asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Sallary" class="control-label"></label>
        <input asp-for="Sallary" class="form-control" type="number" step="0.01" />
        <span asp-validation-for="Sallary" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>